{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title> HR Bot</title>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content=
            "width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    {% block extrastyle %}{% endblock %}
</head>
<body background="{% static 'img/new.jpg' %}" style="background-repeat:
    no-repeat; background-attachment: fixed;">
    {% block navbar %}{% endblock %}
    {% block sidebar %}{% endblock %}
    <div class="container">
        <div class="row">
            <div class="row" style="margin-left:11%; margin-top:7%;">
                <div class="col-sm-12">
                    {% block bot-content %}{% endblock %}
                </div>
            </div>
            <div class="row fixed-bottom" style="margin-left:17%;
                width: 88%; margin-bottom: 10px;">
                {% block bot-chat %}{% endblock %}
            </div>
        </div>
    </div>
    <script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'popper/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    {% block extrascript %}{% endblock %}

</body>
</html>