<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minion Frequently Asked Questions</title>
</head>
<body>
<h1><span style="font-weight: 400;">MINION - FAQs</span></h1>
<h2><span style="font-weight: 400;">What does the bot do?</span></h2>
<p><span style="font-weight: 400;">Minion is trained to handle day-to-day HR related task like</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Raising ticket</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Managing leaves</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Searching for Pramati employee details</span></li>
</ul>
<h2><span style="font-weight: 400;">How can I raise a ticket?</span></h2>
<p><span style="font-weight: 400;">You simply need to tell Minion to 'Raise a ticket' and it will guide you through the process.</span></p>
<h2><span style="font-weight: 400;">What all leave related tasks can I do?</span></h2>
<p><span style="font-weight: 400;">The following operations are possible on Minion</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">You could ask for the number of leaves you have left</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">You could also request for a leave.</span></li>
</ul>
<h2><span style="font-weight: 400;">How can I create a leave request from the bot?</span></h2>
<p><span style="font-weight: 400;">Tell Minion that "Apply for leave" and he would ask you for the relevant information and apply the leave on your behalf.</span></p>
<h2><span style="font-weight: 400;">How can I search for an employee?</span></h2>
<p><span style="font-weight: 400;">Ask Minion to "Search for an employee" and he will ask you the name of the employee you want to search for.</span></p>
<h2><span style="font-weight: 400;">What details can I search for an employee?</span></h2>
<p><span style="font-weight: 400;">You can search for an employee based on their name. Once the search is successful, Minion will return their Name, Employee ID, Mobile Number and Email ID, Designation.</span><br /><br /></p>
</body>
</html>