<html lang="en-us"><head>
<title>Logged out | Django site admin</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">




    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">


<meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class="" data-admin-utc-offset="0">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">

<h1 id="site-name"><a href="/admin/">Minion</a></h1>

        </div>




    </div>
    <!-- END Header -->
    <div class="breadcrumbs"><a href="/admin/">Home</a></div>






    <!-- Content -->
    <div id="content" class="colM">

        <h1>Logged out</h1>


<p>Thanks for spending some quality time with the Minion today.</p>

<p><a href="{% url 'minion_login' %}">Log in again</a></p>



        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->



</body></html>