{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-secondary"
     style="background:rgba(0,0,0,.15)">
    <a class="navbar-brand" href="https://www.pramati.com/">
        <img src="{% static 'img/pramati_full.png' %}" width="120" height="40"
             class="rounded border border-right-0 border-left-0 b
             order-secondary">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'main' %}">Home
            <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{% url 'admin:index' %}">
                Admin</a>
            <a class="nav-item nav-link" href="{% url 'admin:logout' %}">
                Logout
            </a>
            <a class="nav-item nav-link"
               href="{% url 'admin:password_change' %}"> Change Password</a>
        </div>
    </div>
</nav>
{% endblock %}

{% block sidebar %}
    <div style="height:100%; width:15%; background-color:#868e96;
        position:fixed; margin-top:5.1%;">
        <nav class="mt-5" aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item dropdown">
                    <a class="dropdown-toggle" href="#" role="button"
                       data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false" id="menu-side">My Profile</a>
                    <div class="dropdown-menu no-transition"
                         aria-labelledby="menu-side">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ol>
        </nav>

        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item dropdown">
                    <a class="dropdown-toggle" href="#" role="button"
                       data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false" id="menu-side">Bots</a>
                    <div class="dropdown-menu no-transition"
                         aria-labelledby="menu-side">
                        <a class="dropdown-item" href="{% url 'main' %}">Minion</a>
                        <a class="dropdown-item" href="#">Snack Bot</a>
                        <a class="dropdown-item" href="#">Meeting Bot</a>
                        <a class="dropdown-item" href="#">Event Bot</a>
                    </div>
                </li>
            </ol>
        </nav>

        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Chat History</a></li>
            </ol>
        </nav>
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'faq' %}">FAQ</a>
                </li>
            </ol>
        </nav>
    </div>
{% endblock %}
<!--pt-3 mt-5 ml-3-->